[
  {
    "id": "uptime",
    "execute-command": "uptime",
    "command-working-directory": "/tmp",
    "include-command-output-in-response": true,
    "include-command-output-in-response-on-error": true
  }
]