## For webhooks
{% if webhook_sudo_scripts is defined and webhook_sudo_scripts|length %}
{% for script_name in webhook_sudo_scripts %}
{{ webhook_user }} ALL=(root)NOPASSWD:SETENV: {{ webhook_dirs.binary }}/{{ script_name }}
{% endfor %}
{% endif %}
