[Unit]
Description=Webhook
Documentation=https://github.com/adnanh/webhook/wiki
Wants=network-online.target
After=network-online.target

[Service]
User=webhook
Group=webhook

ExecStart={{ binary_dir }}/webhook{% if not webhook.hooks %} -hooks '{{ conf_dir }}/demo.json' {% endif %} \
{% for hook in webhook.hooks %}
 -hooks '{{ conf_dir }}/{{ hook | basename }}.json' \
{% endfor %}
{% if webhook.headers is defined and webhook.headers|length %}
{% for header in webhook.headers %}
 -header '{{ header }}' \
{% endfor %}
{% endif %}
 -ip '{{ webhook.listen }}' -port {{ webhook.port }} -urlprefix '{{ webhook.prefix }}'{% if webhook.verbose %} -verbose {% endif %}{% if webhook.hotreload %} -hotreload{% endif %}

{% if default_setup is sameas true %}
{% if ansible_distribution_release == 'bionic' %}
ExecStartPre=+{{ templates_dir }}/initial-setup
{% elif ansible_distribution_release == 'xenial' %}
PermissionsStartOnly=true
ExecStartPre={{ templates_dir }}/initial-setup
{% endif %}
{% endif %}

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webhook

[Install]
WantedBy=multi-user.target
